<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag   :all, media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag   "depot", media: 'all' %>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="header">
    <div id="topBar">
      <%= image_tag("logo.png",size: "30x30") %>
      <div id="topBarTitre" class = "topBarTitre"><%= @page_title || "Pragmatic bookshelf" %>
        <%= I18n.localize(Date.today, :format => :complete) %></div>
        <div id="topBarEspacePerso" class = "topBarEspacePerso">
          <% if user_signed_in? %>
          <%= current_user.name ||= current_user.email %>
            <% else %>
          <%= t "devise.form.login" %>
          <% end %>
          <div class = "topBarAccount" id="topBarAccount" >
          <% if user_signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profil", edit_user_registration_path %></li>
                <li>
                  <%= link_to "deconnexion", destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <ul class="dropdown-menu">
              <li><%= link_to image_tag("auth_logo/github_32.png",size: "32x32")+" - Connexion avec Gihub", "/users/auth/github" %></li>
              <li><%= link_to image_tag("auth_logo/meetup_32.gif",size: "32x20")+" - Connexion avec meetup", "/users/auth/meetup" %></li>
              <li><%= link_to image_tag("auth_logo/stackexchange_32.png",size: "32x32")+" - Connexion avec stackexchange", "/users/auth/stackexchange" %></li>
              <li><%= link_to image_tag("auth_logo/google_32.png",size: "32x32")+" - Connexion avec Google", user_omniauth_authorize_path(:open_id, :openid_url => "https://www.google.com/accounts/o8/id") %></li>
            </ul>
            <%= render "devise/sessions/new" %>
            <%= link_to("s''enregistrer", new_user_registration_path ) %>
            <% end %>
          </div>
      </div>
      <div id="topCurrentLocale" class = "topCurrentLocale">
        <%= image_tag("locale/flag_#{I18n.locale.upcase}.png",size:"24x24",vspace: 0,hspace: 0,  alt: I18n.locale.upcase ) %>
        <div class = "topChangeLocale" id="topChangeLocale" >
            <li><%= link_to image_tag("locale/flag_EN.png",size:"24x24"), "/locale=EN" %><%= t "localeEnglish" %></li>
            <li><%= link_to image_tag("locale/flag_FR.png",size:"24x24"), "/locale=FR" %><%= t "localeFrench" %></li>
        </div>
      </div>
  </div>
</div>
<div id="columns">
	<div id="side">
    <ul>
      <li><a href="/"><%= t "home" %></a></li>
      <li><a href="/"><%= t "contact" %></a></li>
      <li><a href="/conventions/new"><%= t "nouvelle convention" %></a></li>
      <li><a href="/deliveries/new"><%= t "nouveau delivery" %></a></li>
    </ul>
	</div>
	<div id="main">
		<%= yield %>
	</div>
  <div id="footer">Allright reserved © RG</div>
</div>
</body>
</html>
